<div class="header-container">
    <div class="header-logo"><img src="../../../../assets/images/icons/logo.png" width="80" height="37" alt=""></div>
    <div class="header-button" *ngIf="canShow"><button nbButton outline status="primary" (click)="open()"><nb-icon icon="person-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>Se connecter</button></div>
    <div class="header-button" *ngIf="!canShow"><button nbButton outline status="primary" (click)="logout()"><nb-icon icon="person-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>Se deconnecter</button></div>
</div>
