<div class="homepage-container">
    <div class="homepage-content">
        <div class="menu">
            <div class="menu-row">
                <div class="menu-items">
                    <div class="item-icon">
                        <div class="home-icon icon-layer"></div>
                    </div>
                    <div class="item-title">Templates</div>
                    <div class="item-description">Créez et modifiez vos templates SMS Mails et paramétrez le dates d'envoi</div>
                </div>
                <div class="menu-items">
                    <div class="item-icon">
                        <div class="home-icon icon-activity"></div>

                    </div>
                    <div class="item-title">Activités</div>
                    <div class="item-description">Suivez en temps réel les alertes SMS et mail envoyées avec les accusées de réception</div>
                </div>
                <div class="menu-items">
                    <div class="item-icon">
                        <div class="home-icon icon-message"></div>

                    </div>
                    <div class="item-title">Messages</div>
                    <div class="item-description">Notifiez les clients de la banque par mail et sms de manière individulisée</div>
                </div>
            </div>
            <div class="menu-row">
                <div class="menu-items">
                    <div class="item-icon">
                        <div class="home-icon icon-task"></div>

                    </div>
                    <div class="item-title">Historique</div>
                    <div class="item-description">Consultez l'historique des notifications et relances envoyées à un client</div>
                </div>
                <div class="menu-items">
                    <div class="item-icon">
                        <div class="home-icon icon-reporting"></div>

                    </div>
                    <div class="item-title">Repoting</div>
                    <div class="item-description">Reporting personnalisé pour les CAE et le management de la banque</div>
                </div>
                <div class="menu-items">
                    <div class="item-icon">
                        <div class="home-icon icon-setting"></div>

                    </div>
                    <div class="item-title">Paramètres</div>
                    <div class="item-description">Paramétrez les fréquences d'envoi et seuil d'envoi des notifications</div>
                </div>

            </div>

        </div>

    </div>
</div>
