.header-container {
    width: $global-with;
    padding: 0 $global-padding 0 $global-padding;
    display: flex
}

.header-logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.header-button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
