.homepage-container {
    margin: 0 $global-padding 0 $global-padding;
    display: flex;
    justify-content: space-around;
    background: url("../../images/bg-home.png") no-repeat;
    background-size: 92%;
    height: 100%;
    .homepage-content {
        width: 61%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .menu-row {
            display: flex;
            justify-content: space-between;
            margin: 4% 4% 0% 0;
        }
        .menu-items {
            width: 30%;
            border: 2px solid $color-primary-400;
            padding: 5% 2% 7% 2%;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .menu-items:hover {
            background-color: $color-primary-100;
            .item-icon nb-icon {
                color: #fff;
            }
        }
        .item-icon {
            display: flex;
            justify-content: space-around;
            margin-bottom: 22px;
        }
        .item-title {
            text-align: center;
            font-weight: bold;
            margin-bottom: 14px;
            font-size: 18px;
        }
        .item-description {
            text-align: center;
            font-weight: 550;
            font-size: 12px;
            line-height: 14px;
        }
    }
}
