.login-container {
    width: 400px;
    .top {
        display: flex;
        justify-content: space-between;
        height: 110px;
    }
    .top-icon {
        width: 57%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        nb-icon {
            width: 50px;
            height: 46px;
        }
    }
    .top-shape {
        background: url('../../images/bg-circle-login.png') no-repeat;
        width: 25%;
        background-size: 100%;
    }
    .middle {
        margin: 6% 6% 10% 6%;
        .title {
            font-weight: bold;
            font-size: 26px;
            text-align: center;
        }
        .inputs {
            margin: 8% 0 0 0;
        }
        label {
            font-size: 15px;
            font-weight: 550;
        }
        input {
            margin-bottom: 20px;
        }
        .button {
            display: flex;
            justify-content: center;
            button {
                width: 65%;
            }
        }
    }
    .bottom {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 126px;
    }
    .bottom-shape {
        background: url('../../images/deco-login.png') no-repeat;
        width: 40%;
        background-size: 67%;
        height: 101px;
    }
}
