.template-container {
    width: $global-with;
    padding: 3% $global-padding 0 $global-padding;
    .title {
        width: 25%;
        display: flex;
    }
    nb-icon:hover {
        color: $color-primary-800;
    }
    .title-text {
        font-size: x-large;
        font-weight: bold;
        margin-left: 4%;
    }
    .filters {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0 0;
    }
    .inputs {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    .filter-title {
        display: flex;
        width: 3%;
        align-items: center;
        font-size: medium;
    }
    .input1 {
        width: 25%;
    }
    .input2 {
        width: 25%;
    }
    .input3 {
        width: 25%;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
    }
    .tab {
        margin-top: 25px;
    }
    nb-card-header {
        display: flex;
        justify-content: space-between;
    }
    .card-body {
        width: 100%;
        height: 55vh;
        background-color: #fff;
    }
}
