.welcome-container {
    padding: 3% 0 0 10%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    .welcome-content {
        width: 44%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
            font-weight: bolder;
            font-size: 65px;
            color: #000;
            margin: 7% 0 5% 0;
        }
        .description {
            color: #000;
            font-size: 19px;
            margin-bottom: 3%;
            line-height: 24px;
        }
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .menu-row {
            display: flex;
            justify-content: space-between;
            margin: 4% 4% 0% 0;
        }
        .menu-items {
            width: 30%;
            border: 2px solid $color-primary-400;
            padding: 4% 2% 3% 2%;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 39px 40px, rgba(0, 0, 0, 0.12) 0px -12px 20px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 8px 9px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .menu-items:hover {
            background-color: $color-primary-100;
            .item-icon nb-icon {
                color: #fff;
            }
        }
        .item-icon {
            display: flex;
            justify-content: space-around;
            margin-bottom: 18px;
        }
        .item-title {
            text-align: center;
            font-weight: bold;
            margin-bottom: 8px;
            font-size: 14px;
        }
        .item-description {
            text-align: center;
            font-weight: 550;
            font-size: 9.5px;
            line-height: 14px;
        }
    }
    .welcome-image {
        background: url('../../images/bg-login-illustration.png') no-repeat;
        width: 39%;
        background-size: 100%;
    }
    .welcome-shape {
        display: flex;
        flex-direction: column-reverse;
        width: 9%;
    }
    .welcome-shape-img {
        background: url('../../images/bg-circle-login1.png');
        width: 123px;
        height: 120px;
        background-size: 115%;
    }
}
