<div class="login-container">
    <nb-card>
        <nb-card-body>

            <div class="top">
                <div class="top-icon">
                    <nb-icon icon="lock" status="primary"></nb-icon>
                </div>
                <div class="top-shape"></div>
            </div>
            <div class="middle">
                <div class="title">Connexion</div>
                <div class="inputs">
                    <label for="idM">Matricule BCI</label>
                    <input type="text" id="idM" nbInput fullWidth fieldSize="medium" shape="Rectangle" placeholder="">
                    <label for="pass">Mot de passe</label>
                    <input type="text" id="pass" nbInput fullWidth shape="Rectangle" fieldSize="medium" placeholder="">
                </div>
                <div class="button"><button nbButton status="primary">Connexion</button></div>

            </div>
            <div class="bottom">
                <div class="bottom-shape"></div>
            </div>

        </nb-card-body>
    </nb-card>
</div>
