@font-face {
    font-family: "Lato-Black";
    src: url('../../fonts/Lato/Lato-Black.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../../fonts/Lato/Lato-BlackItalic.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../fonts/Lato/Lato-Bold.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Ligth';
    src: url('../../fonts/Lato/Lato-Light.ttf') format('ttf');
    font-family: normal;
}
