body {
    font-family: 'Lato-Ligth';
}

nb-layout-column {
    margin: none;
    padding: 0 !important;
}

nb-layout-hader {
    padding: 0 !important;
}

nb-card-body {
    padding: 0 !important;
}

.fixed {
    padding: 0 !important;
}
