.home-icon {
    width: 79px;
    height: 64px;
}

.icon-setting {
    background: url("../../images/icons/settings-icon.png") no-repeat;
}

.icon-layer {
    background: url("../../images/icons/templates-icon.png") no-repeat;
}

.icon-activity {
    background: url("../../images/icons/activities-icon.png") no-repeat;
}

.icon-task {
    background: url("../../images/icons/history-icon.png") no-repeat;
}

.icon-message {
    background: url("../../images/icons/messages-icon.png") no-repeat;
}

.icon-reporting {
    background: url("../../images/icons/reporting-icon.png") no-repeat;
}
