$global-with: 100vw;
$global-padding: 10%;
$global-padding-top: 4%;
$color-primary-100: rgba(220, 117, 43, 0.07);
$color-primary-200: rgba(220, 117, 43, 0.07);
$color-primary-300: #dc752a;
$color-primary-400: #dc752a;
$color-primary-500: #dc752a;
$color-primary-600: #dc752a; // $color-primary-600: #E8A371,
$color-primary-700: #e28c4e;
$color-primary-800: #e8a371;
$color-primary-900: #dc752a;
