<abw-sidebar></abw-sidebar>
<div class="template-container">
    <div class="title">
        <div class="title-icon">
            <nb-icon icon="undo-outline"></nb-icon>
        </div>
        <div class="title-text">Liste des templates </div>
    </div>

    <div class="filters">
        <div class="inputs">
            <div class="filter-title">Filtrer</div>
            <div class="input1">
                <nb-select placeholder="" fullWidth status="primary" [(selected)]="selectedItem">
                    <nb-option value="">Type de template</nb-option>
                    <nb-option value="0">Option 0</nb-option>
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
            <div class="input2">
                <nb-select placeholder="" fullWidth status="primary" [(selected)]="selectedItem">
                    <nb-option value="">Type de client</nb-option>
                    <nb-option value="0">Option 0</nb-option>
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
            <div class="input3"> <input type="text" nbInput fullWidth status="primary" placeholder="Nom de template"></div>
        </div>
        <div class="buttons">
            <button nbButton status="primary"><nb-icon icon="search-outline"></nb-icon>Recherchez</button>
        </div>
    </div>

    <div class="tab">
        <nb-card accent="primary">
            <nb-card-header>
                <div class="col">Libellé template</div>
                <div class="col">Type relance</div>
                <div class="col">Cible</div>
                <div class="col">Date notification</div>
                <div class="col">Date création</div>
                <div class="col">Date MAJ</div>
            </nb-card-header>
            <nb-card-body>
                <div class="card-body"></div>
            </nb-card-body>
        </nb-card>
    </div>

</div>
