<nb-layout>

    <nb-layout-header fixed>
        <abw-header></abw-header>
    </nb-layout-header>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>


</nb-layout>